*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.big{
    width: 60%;
    margin: 0 20%;
}
.big img{
    height: 400px;
    width: 100%;
}
.all{
    width: 80%;
    margin: 5% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    row-gap: 10px;
}
.item{
    width: 25%;
}
.item img{
    width: 100%;
    height: 250px;
}

.mycolor{
color: bisque;

}