*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.watch{
    background-color: darkslategray;
    text-align: center;
    width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 20px;
}
.time p{
    font-size: 10rem;
    color: white;
}